In [64]:
import json

# 打开并读取JSON文件
with open('D:/unimelb/CCC/data/residential-dwellings.json', 'r') as file:
    # 将文件内容解析为Python对象（字典或列表）
    data = json.load(file)

In [65]:
import pandas as pd
data = pd.DataFrame(data)
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [66]:
rai_df = pd.read_csv('D:/unimelb/CCC/data/affordability.csv')

# 打印 DataFrame 的长度
print(len(rai_df))

266

In [67]:
rai_df.columns

Index(['geography_name', ' rai_national_total_2014_q2',
       ' rai_national_total_2014_q3', ' rai_national_total_2014_q4',
       ' rai_national_total_2021_q1', ' rai_national_total_2014_q1', ' state',
       ' rai_national_total_2020_q1', ' rai_national_total_2020_q2',
       ' rai_national_total_2020_q3', ' rai_national_total_2011_q2',
       ' rai_national_total_2020_q4', ' rai_national_total_2011_q1', ' city',
       ' unique_id', ' rai_national_total_2013_q3',
       ' rai_national_total_2013_q4', ' rai_national_total_2013_q1',
       ' rai_national_total_2012_q4', ' rai_national_total_2013_q2',
       ' rai_national_total_2015_q3', ' rai_national_total_2015_q4',
       ' rai_national_total_2015_q1', ' rai_national_total_2015_q2',
       ' rai_national_total_2016_q1', ' rai_national_total_2016_q2',
       ' rai_national_total_2016_q3', ' rai_national_total_2016_q4',
       ' rai_national_total_2012_q1', ' rai_national_total_2012_q3',
       ' rai_national_total_2012_q2', ' rai_national_total_2017_q3',
       ' rai_national_total_2017_q4', ' rai_national_total_2019_q1',
       ' rai_national_total_2017_q1', ' rai_national_total_2019_q2',
       ' rai_national_total_2017_q2', ' rai_national_total_2011_q4',
       ' rai_national_total_2018_q4', ' rai_national_total_2018_q3',
       ' rai_national_total_2018_q2', ' rai_national_total_2018_q1',
       ' rai_national_total_2021_q2', ' rai_national_total_2019_q3',
       ' rai_national_total_2019_q4'],
      dtype='object')

In [68]:
data.head(1)

,census_year,block_id,property_id,base_property_id,building_address,clue_small_area,dwelling_type,dwelling_number,longitude,latitude,location
0,2017,355,107908,107908,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.952007,-37.803558,"{'lon': 144.95200710155, 'lat': -37.8035582919..."

In [69]:
del data['location']

In [70]:
del data['block_id']
del data['property_id']  
del data['base_property_id']
del data['dwelling_number']

In [79]:
data['geography_name'] = data['building_address'].str.slice(start=-4)

In [80]:
data['dwelling_type'].value_counts()

dwelling_type
House/Townhouse           165836
Residential Apartments     31864
Student Apartments           951
Name: count, dtype: int64

In [81]:
data.head(1)

,census_year,building_address,clue_small_area,dwelling_type,longitude,latitude,geography_name
0,2017,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,144.952007,-37.803558,3051

In [82]:
rai_df['geography_name'].dtype

dtype('O')

In [83]:
rai_df['geography_name'] = rai_df['geography_name'].astype(str)

In [75]:
# 检查转换前的数据类型
print("转换前的数据类型:", rai_df['geography_name'].dtype)

# 转换数据类型为字符串
rai_df['geography_name'] = rai_df['geography_name'].astype(str)

# 检查转换后的数据类型
print("转换后的数据类型:", rai_df['geography_name'].dtype)

转换前的数据类型: object
转换后的数据类型: object

In [76]:
if 'geography_name' in rai_df.columns:
    print("geography_name 列存在于 rai_df 数据框中。")
else:
    print("geography_name 列不存在于 rai_df 数据框中。")

geography_name 列存在于 rai_df 数据框中。

In [77]:
if 'geography_name' in data.columns:
    print("geography_name 列存在于 data 数据框中。")
else:
    print("geography_name 列不存在于 data 数据框中。")

geography_name 列不存在于 data 数据框中。

In [84]:
merged_df = pd.merge(data, rai_df,  on='geography_name', how='inner')

In [85]:
merged_df.head(1)

,census_year,building_address,clue_small_area,dwelling_type,longitude,latitude,geography_name,rai_national_total_2014_q2,rai_national_total_2014_q3,rai_national_total_2014_q4,...,rai_national_total_2019_q2,rai_national_total_2017_q2,rai_national_total_2011_q4,rai_national_total_2018_q4,rai_national_total_2018_q3,rai_national_total_2018_q2,rai_national_total_2018_q1,rai_national_total_2021_q2,rai_national_total_2019_q3,rai_national_total_2019_q4
0,2017,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,144.952007,-37.803558,3051,114.6205,135.2163,109.8901,...,108.9744,109.8901,99.7151,108.9744,122.5962,111.451,128.3729,148.3516,119.315,106.6054

In [86]:
merged_df['geography_name'].value_counts()

geography_name
3031    56247
3051    40977
3053    33050
3141    15905
3002    14626
3052    14622
3003    12984
3000     6807
3008     1859
3006     1155
3004      326
3005       27
3207       23
3010       20
3054       19
3181        2
Name: count, dtype: int64

In [87]:
merged_df.shape

(198649, 51)

In [88]:
# merged_df.drop(['longitude', 'latitude'], axis=1, inplace=True)
merged_df.drop('census_year', axis=1, inplace=True)
# 检查每行中是否有任何NA值
contains_nas = merged_df.isna().any(axis=1)

df_clean = merged_df[~contains_nas]

In [89]:
df_clean.to_csv('./data.csv', encoding='utf-8', index=False)