In [29]:
import pandas as pd

# 读取第一个CSV文件
abs_data = pd.read_csv('abs_regional_population_lga_2001_2021-2770189027992760124.csv')

# 读取第二个CSV文件
air_data = pd.read_csv('Final_air.csv')

In [38]:

def preprocess_abs(abs_data):
    selected_rows = abs_data[abs_data[' state_name_2021'] == 'Victoria']
    
    selected_values = ['Wangaratta', 'Melton', 'Swan Hill', 'Mildura', 'Melbourne', 'Greater Bendigo', 'Greater Geelong', 'Whitehorse']
    filtered_df = selected_rows[selected_rows[' lga_name_2021'].isin(selected_values)]

    # Delte the non related column
    cols_to_drop = ['state_code_2021', ' lga_code_2021', ' state_name_2021', ' primaryindex']
    filtered_df = filtered_df.drop(cols_to_drop, axis=1)

    # Change the word 
    filtered_df.iloc[0, 2] = 'Bendigo'
    filtered_df.iloc[1, 2] = 'Geelong South'
    filtered_df.iloc[2, 2] = 'Melbourne CBD'
    filtered_df.iloc[7, 2] = 'Box Hill'

    return filtered_df

In [42]:
abs_df = preprocess_abs(abs_data)
abs_df

      pop_density_2021_people_per_km2      area_km2  lga_name_2021
59                          40.460999   2999.971680        Bendigo
61                         215.954102   1247.987183  Geelong South
78                        4524.146973     37.545200  Melbourne CBD
79                         339.515289    527.537415         Melton
80                           2.501400  22081.919922        Mildura
101                          3.296400   6115.537109      Swan Hill
103                          8.059800   3645.109619     Wangaratta
107                       2737.550293     64.280098       Box Hill

In [40]:
air_data

     datetime_local  location_name     BPM2.5
0        2022-01-01  Melbourne CBD   8.376130
1        2022-01-02  Melbourne CBD   7.866333
2        2022-01-03  Melbourne CBD   4.426875
3        2022-01-04  Melbourne CBD   7.743000
4        2022-01-05  Melbourne CBD   5.373917
...             ...            ...        ...
1209     2024-05-09      Footscray  32.440000
1210     2024-05-09      Footscray  32.440000
1211     2024-05-09       Brooklyn  30.950000
1212     2024-05-09        Bendigo   9.690000
1213     2024-05-09     Porepunkah   8.720000

[1214 rows x 3 columns]

In [43]:
merged_df = air_data.merge(abs_df, how='inner', left_on='location_name', right_on=' lga_name_2021')
merged_df

,datetime_local,location_name,BPM2.5,pop_density_2021_people_per_km2,area_km2,lga_name_2021
0,2022-01-01,Melbourne CBD,8.376130,4524.146973,37.545200,Melbourne CBD
1,2022-01-02,Melbourne CBD,7.866333,4524.146973,37.545200,Melbourne CBD
2,2022-01-03,Melbourne CBD,4.426875,4524.146973,37.545200,Melbourne CBD
3,2022-01-04,Melbourne CBD,7.743000,4524.146973,37.545200,Melbourne CBD
4,2022-01-05,Melbourne CBD,5.373917,4524.146973,37.545200,Melbourne CBD
...,...,...,...,...,...,...
1169,2024-05-09,Wangaratta,9.590000,8.059800,3645.109619,Wangaratta
1170,2024-05-09,Mildura,11.130000,2.501400,22081.919922,Mildura
1171,2024-05-09,Mildura,11.130000,2.501400,22081.919922,Mildura
1172,2024-05-09,Swan Hill,9.840000,3.296400,6115.537109,Swan Hill
1173,2024-05-09,Swan Hill,9.840000,3.296400,6115.537109,Swan Hill

In [44]:
merged_df.to_csv('merged.csv', index=False)